{% extends 'base.html' %}
{% block content %}


    <div class="research-block">
      <div class="wrap-img">
        <div class="hexagon-inner"></div>
        <img alt="" class="desktop" src="https://imggrzy.hnu.edu.cn/avatar/47b6fa180c9a4b2ff2fecbf5ecccc568.jpg">
      </div>
      <div class="info-box-container">
        <section data-v-2441ca5c="" id="module_0" class="info-box">
          <h4 data-v-2441ca5c="" class="info-box-title">
            <span data-v-2441ca5c="">教育背景</span>
          </h4>
          <div data-v-2441ca5c="" class="content">
            <div data-v-2441ca5c="" class="ql-editor qlEditor">
              <!-- Wrap the paragraphs in the vertical-text class -->
              <div class="vertical-text">
                <p>2006.09-2011.07&nbsp; &nbsp; &nbsp; 应用化学工学博士&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 中国科学院成都有机化学研究所 (导师：冯玉军教授)</p>
                <p>2002.09-2006.07&nbsp; &nbsp; &nbsp; 应用化学理学学士&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 湖南大学化学化工学院&nbsp; &nbsp;</p>
              </div>
            </div>
          </div>
        </section>
    
        <section data-v-2441ca5c="" id="module_1" class="info-box">
          <h4 data-v-2441ca5c="" class="info-box-title">
            <span data-v-2441ca5c="">工作履历</span>
          </h4>
          <div data-v-2441ca5c="" class="content">
            <div data-v-2441ca5c="" class="ql-editor qlEditor">
              <!-- Wrap the paragraphs in the vertical-text class -->
              <div class="vertical-text">
                <p style="white-space: normal;">2019.10-至今&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 湖南大学化学化工学院</p>
                <p style="white-space: normal;">2016.01-2019.09&nbsp; &nbsp; &nbsp; (以色列) 魏茨曼科学研究所 (合作导师: Rafal Klajn 教授)</p>
                <p style="white-space: normal;">2012.10-2015.12&nbsp; &nbsp; &nbsp; (瑞士) 苏黎世大学 (合作导师: Stefan Seeger 教授)</p>
                <p>2011.09-2012.09&nbsp; &nbsp; &nbsp;&nbsp;(瑞士) 苏黎世联邦理工学院 (合作导师: Yoko Yamakoshi 教授)</p>
              </div>
            </div>
            </div>
          </section>
          <section data-v-2441ca5c="" id="module_2" class="info-box">
            <h4 data-v-2441ca5c="" class="info-box-title">
              <span data-v-2441ca5c="">学术兼职</span>
            </h4>
            <div data-v-2441ca5c="" class="content">
              <div data-v-2441ca5c="" class="ql-editor qlEditor">
                <div class="vertical-text">
                  <p class="info-content">担任 <em>Nature Communications</em>、<em>Chemical Communications</em>、<em>Soft Matter</em>、<em>Chemical Engineering Journal</em>、<em>Journal of Colloid and Interface Science</em>、<em>Journal of Industrial and Engineering Chemistry</em>等 SCI 期刊的审稿人。</p>
                </div>
              </div>
            </div>
          </section>
          <section data-v-2441ca5c="" id="module_4" class="info-box">
            <h4 data-v-2441ca5c="" class="info-box-title">
              <span data-v-2441ca5c="">科研项目</span>
            </h4>
            <div data-v-2441ca5c="" class="content">
              <div data-v-2441ca5c="" class="ql-editor qlEditor">
                <div class="vertical-text">
                  <p class="info-content">1. 湖南大学高层次人才启动项目，200 万元，2019；</p>
                  <p class="info-content">2. 湖南省高层次人才项目，2021；</p>
                  <p class="info-content">3. 新型三维超疏油/超亲水油水分离材料的构建与性能研究, 国家自然科学基金面上项目, 60 万元, 2022.01—2025.12, 主持；</p>
                  <p class="info-content">4. 三维微纳结构超浸润高效油水分离材料, 长沙市自然科学基金, 10 万元, 2020.07—2022.06, 主持；</p>
                  <p class="info-content">5. 表面超疏水改性砂的表征与性能测试, 中石化横向合作项目, 43.26 万元, 2020.09—2021.07, 主持；</p>
                  <p class="info-content">6. 水溶性热固树脂固化剂分子结构及性能测试, 中石化横向合作项目, 20.19 万元, 2020.09—2021.07, 主持；</p>
                  <p class="info-content">7. 油基钻井液用固相清洁剂分析测试, 中石化横向合作项目, 12 万元, 2021.09—2022.07, 主持；</p>
                  <p class="info-content">8. 复合驱油体系中纳米材料结构设计与增效机制研究, 中石化横向合作项目, 32.45 万元, 2021.11—2022.11, 主持；</p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    
  
  
  {% endblock %}